/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  border: 1px solid red;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-size: 62.5%;
  font-family: 'Solway', serif;
  font-family: 'Patua One', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Stoke', serif;
  font-family: 'Bree Serif', serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Solway', serif;
  font-family: 'Patua One', cursive;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Stoke', serif;
  font-family: 'Bree Serif', serif;
}
/* UPDATED H1 FOR SPACE WALKERS*/
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.5rem;
  padding-top: 1.6rem;
  font-weight: 400;
}
p {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 1.2rem;
  font-family: 'Stoke', serif;
  font-weight: 550;
}
body {
  background-color: #fff3e0;
  width: 100%;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  background-color: #fafafa;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 5px;
  border: 1px groove #eeeeee;
}
.border {
  border: 1px solid red;
}
/*HEADER FONT COLORS*/
/*HERO FONTS COLORS*/
/*HEADER MARGINS*/
/*HERO MARGINS*/
/*TOP SECTION MARGINS*/
/** ABOUT PAGE **/
.bgImgCover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
}
.hTopBorderRadius {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.txtEngraveFx {
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
/*HEADER MIXINS*/
.hCoNameStyle {
  font-family: 'Stoke', serif;
  color: #f79905;
  font-size: 3.8rem;
  font-weight: 900;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
.hCoNameStyle:hover {
  color: #fafafa;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.hCoNameStyle:active {
  color: #7bf2cd;
  text-align: center;
  -webkit-animation: glowT 1s ease-in-out infinite alternate;
  -moz-animation: glowT 1s ease-in-out infinite alternate;
  animation: glowT 1s ease-in-out infinite alternate;
}
@media (max-width: 800px) {
  .hCoNameStyle {
    font-size: 2.6rem;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .hCoNameStyle {
    font-size: 1.8rem;
    margin-left: 5%;
  }
  .hCoNameStyle:focus {
    border: 1px solid #be6b00;
  }
}
.navLinkStyle {
  text-decoration: none;
  color: #f79905;
  font-family: 'Stoke', serif;
  font-size: 1.8rem;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
@media (max-width: 800px) {
  .navLinkStyle {
    font-size: 2.5rem;
  }
}
/*HERO MIXINS*/
.hHeroTxtStyle {
  font-family: 'Stoke', serif;
  font-weight: 400;
  letter-spacing: -1px;
}
@media (max-width: 800px) {
  .hHeroTxtStyle {
    font-size: 3.6rem;
  }
}
@media (max-width: 500px) {
  .hHeroTxtStyle {
    font-size: 2.4rem;
    font-weight: 600;
  }
}
/*TOP SECTION MIXINS*/
.imgWrapPosRow3 {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
}
.imgResize {
  height: 15%;
  width: 25%;
}
.topTxtWrapStyle {
  display: flex;
  margin-left: 6.5%;
  margin-right: 6.5%;
}
.txtTopStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  margin-top: 3%;
  background-color: #f8f8f8;
  text-align: center;
  border: 3px solid #37474f;
  border-radius: 7px;
}
.rowWrap3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.pTxtRow3 {
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}
.contentShadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btnStyle {
  width: 170px;
  height: 50px;
  margin: 3.2rem;
  font-size: 1.8rem;
  font-family: 'Bree Serif', serif;
  border: 3px solid #44bf9c;
  background-color: #f8f8f8;
  color: #008e68;
  border-radius: 5px;
}
.btnHover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #44bf9c;
  border: 2px inset #f79905;
  color: #f79905;
  font-weight: 400;
  font-size: 2.1rem;
  letter-spacing: 1.25px;
}
.heroImgWrap {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, transparent 2%, white), linear-gradient(to right, transparent 32%, white), url(/src/img/hero-home.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  width: 100%;
  height: 400px;
  padding: 3.6rem;
}
.heroImgWrap .heroHeader {
  font-family: 'Stoke', serif;
  font-weight: 400;
  letter-spacing: -1px;
}
@media (max-width: 800px) {
  .heroImgWrap .heroHeader {
    font-size: 3.6rem;
  }
}
@media (max-width: 500px) {
  .heroImgWrap .heroHeader {
    font-size: 2.4rem;
    font-weight: 600;
  }
}
.heroImgWrap .heroTxt {
  width: 85%;
  line-height: 2.5rem;
  margin-top: 1.5rem;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .heroImgWrap .heroTxt {
    width: 100%;
    line-height: 3.2rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 600px) {
  .heroImgWrap .heroBtns {
    display: none;
  }
}
.heroImgWrap .heroBtnLearn {
  width: 170px;
  height: 50px;
  margin: 3.2rem;
  font-size: 1.8rem;
  font-family: 'Bree Serif', serif;
  border: 3px solid #44bf9c;
  background-color: #f8f8f8;
  color: #008e68;
  border-radius: 5px;
}
.heroImgWrap .heroBtnLearn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #44bf9c;
  border: 2px inset #f79905;
  color: #f79905;
  font-weight: 400;
  font-size: 2.1rem;
  letter-spacing: 1.25px;
}
.heroImgWrap .heroBtnSignUp {
  width: 170px;
  height: 50px;
  margin: 3.2rem;
  font-size: 1.8rem;
  font-family: 'Bree Serif', serif;
  border: 3px solid #44bf9c;
  background-color: #f8f8f8;
  color: #008e68;
  border-radius: 5px;
}
.heroImgWrap .heroBtnSignUp:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #44bf9c;
  border: 2px inset #f79905;
  color: #f79905;
  font-weight: 400;
  font-size: 2.1rem;
  letter-spacing: 1.25px;
}
/*TOP SECTION*/
.topWrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.topWrap .topHeader {
  padding-left: 32px;
  padding-top: 35px;
  padding-bottom: 35px;
  background: linear-gradient(to top, transparent 62%, #008e68), linear-gradient(to right, transparent 32%, #7bf2cd);
  background-color: #44bf9c;
  font-weight: 600;
  font-family: 'Stoke', serif;
  color: #f79905;
  border-top: 2px groove #7bf2cd;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
@media (max-width: 800px) {
  .topWrap .topHeader {
    text-align: center;
    color: #212A31;
  }
}
.topWrap .topTxtWrap {
  display: flex;
  margin-left: 6.5%;
  margin-right: 6.5%;
}
.topWrap .topImgWrap {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
}
@media (max-width: 500px) {
  .topWrap .topImgWrap {
    display: none;
  }
}
.txtRow3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  margin-top: 3%;
  background-color: #f8f8f8;
  text-align: center;
  border: 3px solid #37474f;
  border-radius: 7px;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}
@media (max-width: 800px) {
  .txtRow3 {
    display: none;
  }
}
.imgRow3 {
  height: 15%;
  width: 25%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px groove #f79905;
  border-bottom: none;
}
@media (max-width: 500px) {
  .imgRow3 {
    height: 215px;
    width: 325px;
    margin: 3.2rem;
  }
}
#innerTxt1 {
  border: 1px solid #37474f;
  border-bottom: none;
  padding-bottom: 12px;
  padding-top: 10%;
  font-size: 4.2;
}
#innerTxt2 {
  border: 1px solid #37474f;
  border-top: none;
  font-size: 1.6rem;
  font-family: 'Bree Serif', serif;
  padding-bottom: 10%;
}
/*TOP IMG ADJ*/
#topImg1 {
  margin-right: 6%;
}
#topImg3 {
  margin-left: 6%;
}
/*TOP TEXT ADJ*/
#topTxt1 {
  margin-right: 4%;
  width: 80%;
}
#topTxt2 {
  width: 81%;
  margin-left: 3%;
  margin-right: 7%;
}
#topTxt3 {
  width: 81%;
}
.stampBttmWrap {
  display: flex;
  justify-content: space-between;
}
.stampImg {
  height: 32px;
  width: 32px;
  margin-top: -15px;
  margin-bottom: 10px;
  align-self: center;
}
.stampImg2 {
  height: 32px;
  width: 32px;
  margin-top: 10px;
  margin-bottom: -15px;
}
/**MID SECTION**/
.midWrap {
  background: linear-gradient(to right, transparent 5%, white), url(/src/img/mid-bg-home.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: 100%;
  height: 285px;
  margin-top: 5.2rem;
  border-top: 2px groove #fafafa;
  border-bottom: 2px groove #fafafa;
}
@media (max-width: 500px) {
  .midWrap {
    display: none;
  }
}
.midWrap .midTxt {
  float: right;
  margin-top: 8%;
  margin-right: 10%;
  font-size: 1.8rem;
  color: #211a1a;
  width: 50%;
  font-weight: 400;
}
.bttmWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bttmWrap .bttmHeader {
  margin: 3.2rem;
  padding: 3.2rem;
}
@media (max-width: 500px) {
  .bttmWrap .bttmHeader {
    margin: -7%;
    padding-top: 15%;
    font-size: 3.8rem;
    font-style: italic;
  }
}
.bttmWrap .bttmImgWrap {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .bttmWrap .bttmImgWrap {
    flex-direction: column;
    align-items: center;
    padding: 2.4rem;
  }
}
.bttmWrap .bttmBtnJoin {
  width: 170px;
  height: 50px;
  margin: 3.2rem;
  font-size: 1.8rem;
  font-family: 'Bree Serif', serif;
  border: 3px solid #44bf9c;
  background-color: #f8f8f8;
  color: #008e68;
  border-radius: 5px;
}
.bttmWrap .bttmBtnJoin:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #44bf9c;
  border: 2px inset #f79905;
  color: #f79905;
  font-weight: 400;
  font-size: 2.1rem;
  letter-spacing: 1.25px;
}
@media (max-width: 500px) {
  .bttmWrap .bttmBtnJoin {
    width: 275px;
    height: 90px;
    margin-top: -3%;
    font-size: 3.6rem;
  }
  .bttmWrap .bttmBtnJoin:focus {
    font-size: 4.8rem;
  }
}
/*SECTION ELEMENT SEPERATES*/
.aboutWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.8rem;
}
/*SECTION ELEMENT SEPERATES*/
/*WRAPS SINGLE ENTIRE PROFILE*/
.profileWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
}
@media (max-width: 800px) {
  .profileWrap {
    max-width: 325px;
  }
}
@media (max-width: 500px) {
  .profileWrap {
    margin-bottom: 2.4rem;
    padding: 3.2rem;
    max-width: 475px;
  }
}
/*WRAPS IMG AND CONTACTS*/
/*WRAPS ALL PROFILES CONTACTS*/
.contactWrapAll {
  display: flex;
  align-items: center;
}
/*WRAPS SINGLE CONTACT TYPE AND INFO*/
.contactWrap {
  margin-left: 3.2rem;
  font-size: 1.8rem;
  padding: 1.8rem;
}
@media (max-width: 800px) {
  .contactWrap {
    max-width: 350px;
    margin-left: 1.1rem;
  }
}
@media (max-width: 500px) {
  .contactWrap {
    max-width: 450px;
    margin-left: 1.4rem;
    padding: 1.2rem;
  }
}
/*WRAPS TWO ENTIRE PROFILES TOGETHER*/
.profileWrap2 {
  display: flex;
  flex-direction: row;
  margin-top: 4.5rem;
}
@media (max-width: 800px) {
  .profileWrap2 {
    max-width: 750px;
  }
}
@media (max-width: 500px) {
  .profileWrap2 {
    flex-direction: column;
  }
}
/****  CLASSES ****/
.profileTitle {
  font-size: 3.2rem;
  font-weight: 900;
}
@media (max-width: 800px) {
  .profileTitle {
    font-size: 2.4rem;
  }
}
.profileName {
  font-size: 24px;
  padding: 2.8rem;
}
@media (max-width: 800px) {
  .profileName {
    font-size: 1.8rem;
    padding: 2.1rem;
  }
}
@media (max-width: 500px) {
  .profileName {
    padding: 1.8rem;
  }
}
.profileImg {
  width: 126px;
  height: 126px;
  border-radius: 125px;
  margin-left: 35%;
}
.contactIcon {
  width: 3.6rem;
  height: 3.6rem;
}
@media (max-width: 800px) {
  .contactIcon {
    width: 2.4rem;
    height: 2.4rem;
  }
}
.contactType {
  font-size: 2.1rem;
  font-weight: 900;
  margin-bottom: 8px;
}
.contactInfo {
  font-size: 1.8rem;
}
@media (max-width: 800px) {
  .contactInfo {
    font-size: 1.4rem;
  }
}
.specialThanks {
  text-align: center;
  font-size: 0.9rem;
}
/*** ELEMENTS ***/
p {
  font-size: 1.2rem;
}
.contactForm {
  width: 850px;
  padding: 30px;
  margin: 40px auto;
  background: #FFF;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.innerWrap {
  padding: 4.2rem;
  margin: 2.5rem;
  background: #F8F8F8;
  border-radius: 6px;
}
.ContactHeader {
  background: #44bf9c;
  padding: 20px 30px 15px 30px;
  margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bree Serif', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #008e68;
}
.contactSubHeader {
  display: block;
  margin-top: 2px;
  font: 13px Arial, Helvetica, sans-serif;
}
.label {
  display: block;
  font: 13px Arial, Helvetica, sans-serif;
  color: #212A31;
  margin-bottom: 15px;
}
.contactForm input[type="text"],
.contactForm input[type="date"],
.contactForm input[type="datetime"],
.contactForm input[type="email"],
.contactForm input[type="number"],
.contactForm input[type="search"],
.contactForm input[type="time"],
.contactForm input[type="url"],
.contactForm input[type="password"],
.contactForm textarea,
.contactForm select {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}
.innerHeader {
  font: normal 20px 'Bree Serif', serif;
  color: #008e68;
  margin-bottom: 5px;
}
textarea {
  width: 15px;
  height: 160px;
  margin: 3.8rem;
}
.contactForm input[type="button"],
.contactForm input[type="submit"] {
  background: #44bf9c;
  padding: 8px 20px 8px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bree Serif', serif;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #008e68;
  font-size: 15px;
}
.contactForm input[type="button"]:hover,
.contactForm input[type="submit"]:hover {
  background: #2A6881;
  -moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.28);
}
header {
  display: flex;
  align-items: center;
  height: 120px;
  max-width: 100%;
  background-color: #44bf9c;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 2px groove #008e68;
  justify-content: space-between;
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
header .logoCompanyNameWrap {
  margin-left: 1.2rem;
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  header .logoCompanyNameWrap {
    width: 100%;
    margin-bottom: -3%;
  }
}
header .logoCompanyNameWrap .companyName {
  font-family: 'Stoke', serif;
  color: #f79905;
  font-size: 3.8rem;
  font-weight: 900;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
header .logoCompanyNameWrap .companyName:hover {
  color: #fafafa;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
header .logoCompanyNameWrap .companyName:active {
  color: #7bf2cd;
  text-align: center;
  -webkit-animation: glowT 1s ease-in-out infinite alternate;
  -moz-animation: glowT 1s ease-in-out infinite alternate;
  animation: glowT 1s ease-in-out infinite alternate;
}
@media (max-width: 800px) {
  header .logoCompanyNameWrap .companyName {
    font-size: 2.6rem;
    width: 100%;
  }
}
@media (max-width: 600px) {
  header .logoCompanyNameWrap .companyName {
    font-size: 1.8rem;
    margin-left: 5%;
  }
  header .logoCompanyNameWrap .companyName:focus {
    border: 1px solid #be6b00;
  }
}
header .headerLinkWrap {
  margin-right: 3.6rem;
}
header #myPassport {
  margin-right: 3.5rem;
}
@media (max-width: 800px) {
  header #myPassport {
    display: none;
  }
}
@media (max-width: 800px) {
  header #logIn {
    color: #be6b00;
    font-weight: 700;
  }
}
@media (max-width: 500px) {
  header #logIn {
    color: #212A31;
  }
}
a {
  text-decoration: none;
}
.navAnchor {
  text-decoration: none;
  color: #f79905;
  font-family: 'Stoke', serif;
  font-size: 1.8rem;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3), 0px -1px 0px rgba(0, 0, 0, 0.7);
}
@media (max-width: 800px) {
  .navAnchor {
    font-size: 2.5rem;
  }
}
.navAnchor:hover {
  color: #fafafa;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
.navAnchor:active {
  color: #7bf2cd;
  text-align: center;
  -webkit-animation: glowT 1s ease-in-out infinite alternate;
  -moz-animation: glowT 1s ease-in-out infinite alternate;
  animation: glowT 1s ease-in-out infinite alternate;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: #44bf9c;
  border-top: 2px groove #f79905;
}
footer .bttmNavWrap {
  display: flex;
  justify-content: space-evenly;
  padding: 2.2rem;
}
footer .copyright {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: #008e68;
  border-top: 2px groove #44bf9c;
  color: #f79905;
}
@media (max-width: 500px) {
  footer .copyright {
    color: #212A31;
  }
}
@media (max-width: 500px) {
  #bttmNavHome,
  #bttmNavAbout,
  #bttmNavContact,
  #bttmNavLogIn {
    font-size: 2.1rem;
    color: #212A31;
  }
}
.imgCredit {
  font-size: 1.3rem;
}
.glow {
  color: #fafafa;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffca49, 0 0 40px #ffca49, 0 0 50px #ffca49, 0 0 60px #ffca49, 0 0 70px #ffca49;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #f79905, 0 0 40px #f79905, 0 0 50px #f79905, 0 0 60px #f79905, 0 0 70px #f79905, 0 0 80px #f79905;
  }
}
.glowT {
  color: #7bf2cd;
  text-align: center;
  -webkit-animation: glowT 1s ease-in-out infinite alternate;
  -moz-animation: glowT 1s ease-in-out infinite alternate;
  animation: glowT 1s ease-in-out infinite alternate;
}
@-webkit-keyframes glowT {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #7bf2cd, 0 0 40px #7bf2cd, 0 0 50px #7bf2cd, 0 0 60px #7bf2cd, 0 0 70px #7bf2cd;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #44bf9c, 0 0 40px #44bf9c, 0 0 50px #44bf9c, 0 0 60px #44bf9c, 0 0 70px #44bf9c, 0 0 80px #44bf9c;
  }
}
.btnShadow {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/**LIFT SHADOW GLOW**/
